@model object[]

<ul class="nav flex-column">
    @foreach (var item in Model)
    {
        var controller = item.GetType().GetProperty("Controller").GetValue(item).ToString();
        var action = item.GetType().GetProperty("Action").GetValue(item).ToString();
        var text = item.GetType().GetProperty("Text").GetValue(item).ToString();

        <li class="nav-item">
            <a class="nav-link" asp-controller="@controller" asp-action="@action">@text</a>
        </li>
    }
</ul>
